<ion-content [fullscreen]="true" class="sprout-theme">
  <main class="main-content">
    <div class="form-container">
      <section class="title-section">
        <h2 class="page-title">Tambah Worklog</h2>
      </section>

      <div class="glass-card">
        <div class="decorative-blob"></div>
        
        <form (ngSubmit)="submit()" class="sprout-form">
          <div class="input-group">
            <label class="input-label">
              <ion-icon name="leaf-outline"></ion-icon>
              nama aktivitas
            </label>
            <ion-item lines="none" class="nature-item">
              <ion-input 
                [(ngModel)]="form.activity" 
                name="activity"
                type="text">
              </ion-input>
            </ion-item>
          </div>

          <div class="input-group">
          <label class="input-label">
            <ion-icon name="calendar-outline"></ion-icon>
            tanggal aktivitas
          </label>

          <ion-item lines="none" class="nature-item">

            <ion-datetime
              presentation="date"
              [(ngModel)]="form.date"
              name="date">
            </ion-datetime>

          </ion-item>
        </div>


          <div class="time-grid">
            <div class="input-group">
              <label class="input-label">
                <ion-icon name="time-outline"></ion-icon>
                waktu mulai
              </label>
              <ion-item lines="none" class="nature-item date-item">
                <ion-datetime-button datetime="starttime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime 
                      id="starttime" 
                      presentation="time" 
                      [(ngModel)]="form.start" 
                      name="start">
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </div>

            <div class="input-group">
              <label class="input-label">
                <ion-icon name="stopwatch-outline"></ion-icon>
                waktu akhir
              </label>
              <ion-item lines="none" class="nature-item date-item">
                <ion-datetime-button datetime="endtime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime 
                      id="endtime" 
                      presentation="time" 
                      [(ngModel)]="form.end" 
                      name="end">
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </div>
          </div>

          <div class="input-group">
            <label class="input-label">
              <ion-icon name="list-outline"></ion-icon>
              banyak tugas
            </label>
            <ion-item lines="none" class="nature-item">
              <ion-input 
                type="number" 
                [(ngModel)]="form.task_count" 
                name="task_count">
              </ion-input>
            </ion-item>
          </div>

          <div class="input-group">
            <label class="input-label">
              <ion-icon name="document-text-outline"></ion-icon>
              catatan
            </label>
            <ion-item lines="none" class="nature-item">
              <ion-textarea  
                [autoGrow]="true" 
                rows="4" 
                [(ngModel)]="form.notes" 
                name="notes">
              </ion-textarea>
            </ion-item>
          </div>

          <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>

          <div class="button-wrapper">
            <ion-button 
              expand="block" 
              type="submit" 
              class="btn-save" 
              [disabled]="isSubmitting">
              <ion-spinner name="crescent" *ngIf="isSubmitting"></ion-spinner>
              <span *ngIf="!isSubmitting">
                <ion-icon name="sparkles" slot="start"></ion-icon>
                Simpan worklog
              </span>
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <div class="bg-decoration">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
  </div>
</ion-content>