<ion-content [fullscreen]="true" class="evergreen-login">
  <div class="decorative-container">
    <div class="blob-1"></div>
    <div class="blob-2"></div>
    <ion-icon name="leaf-outline" class="bg-leaf-icon"></ion-icon>
  </div>

  <div class="login-wrapper">
    <header class="ion-text-center ion-padding-top">
      <div class="logo-flex">
        <ion-icon name="leaf" color="primary"></ion-icon>
        <h1 class="brand-name">actrack</h1>
      </div>
    </header>

    <div class="glass-card ion-padding">
      <div class="welcome-text">
        <h2 class="h2-title">selamat datang</h2>
      </div>

      <form class="ion-margin-top">
        <div class="input-group">
          <ion-label class="custom-label">USERNAME</ion-label>
          <ion-item lines="none" class="custom-item">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-input [(ngModel)]="username" name="username" placeholder="masukan Username kamu"></ion-input>
          </ion-item>
        </div>

        <div class="input-group ion-margin-top">
            <div class="label-row">
              <ion-label class="custom-label">PASSWORD</ion-label>
            </div>
            <ion-item lines="none" class="custom-item">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              <ion-input [(ngModel)]="password" name="password" [type]="showPassword ? 'text' : 'password'"  placeholder="masukan password kamu"></ion-input>
              <ion-button slot="end" fill="clear" color="medium" (click)="togglePassword()">
                <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </ion-button>
            </ion-item>
          </div>

        <ion-button expand="block" (click)="login()" [disabled]="loading || !username || !password" class="main-btn">
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Log In</span>
      </ion-button>
      </form>

      <div class="register-footer ion-text-center">
        <p>Belum punya akun?</p>
        <ion-button fill="clear" color="primary" class="register-link" (click)= "registerPage()">
          <ion-icon slot="start" name="create-outline"></ion-icon>
           Register
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>