<ion-app>

  <!-- ALERT GLOBAL -->
  <div *ngIf="alert" class="alert-wrapper">

    <div class="alert-box" [ngClass]="alert.type">

      <div class="msg">
        {{ alert.message }}
      </div>

      <div *ngIf="alert.mode === 'confirm'" class="actions">
        <ion-button fill="clear" color="medium" (click)="cancel()">
          Batal
        </ion-button>
        <ion-button color="danger" (click)="confirm()">
          Ya
        </ion-button>
      </div>

    </div>

  </div>

  <!-- ROUTER -->
  <ion-router-outlet></ion-router-outlet>

</ion-app>