<ion-content class="popover-content">
  <div class="menu-container">

    <div class="menu-item" (click)="selectMenu('edit')">
      <div class="icon-wrapper edit">
        <ion-icon name="create-outline"></ion-icon>
      </div>
      <span>Edit Profile</span>
    </div>

    <div class="menu-item" (click)="selectMenu('password')">
      <div class="icon-wrapper password">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>
      <span>Ganti Password</span>
    </div>

    <div class="menu-item" (click)="selectMenu('hapusakun')">
      <div class="icon-wrapper delete">
        <ion-icon name="trash-outline"></ion-icon>
      </div>
      <span>Hapus Akun</span>
    </div>

    <div class="divider"></div>

    <div class="menu-item logout" (click)="selectMenu('logout')">
      <div class="icon-wrapper logout-icon">
        <ion-icon name="log-out-outline"></ion-icon>
      </div>
      <span>Logout</span>
    </div>

  </div>
</ion-content>